/* Estilos para la barra de navegación */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9173cc; /* Color de fondo */
    padding: 10px;
    position: fixed; /* Fijar la barra en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: #fff; /* Color del texto */
    text-decoration: none; /* Sin subrayado */
    margin: 0 15px; /* Margen entre enlaces */
    font-size: 1.2em; /* Tamaño de fuente */
    display: flex;
    align-items: center; /* Alinear verticalmente */
}

.navbar a:hover {
    color: #d4c1f3; /* Color al pasar el ratón */
}

.navbar i {
    margin-right: 8px; /* Espaciado a la derecha del icono */
}

/* Estilos para el icono de flecha de regreso */
.flecha {
    margin-top: 60px; /* Ajustar espacio superior para evitar la superposición */
    font-size: 24px; /* Tamaño de la fuente */
    color: #000; /* Color del icono */
    text-decoration: none; /* Sin subrayado */
    margin-left: 30px; /* Espaciado a la izquierda */
}

.flecha a {
    display: flex;
    align-items: center; /* Alinear verticalmente el icono y el enlace */
}

/* Estilos para la tabla */
table {
    width: 100%; /* La tabla ocupa todo el ancho disponible */
    border-collapse: collapse; /* Quita los espacios entre las celdas */
    margin-top: 20px; /* Espaciado superior */
}

table, th, td {
    border: 1px solid #da95d0; /* Bordes ligeros para la tabla y celdas */
}

th, td {
    padding: 10px; /* Relleno interno para celdas */
    text-align: left; /* Texto alineado a la izquierda */
}

th {
    background-color: #5b3d99; /* Fondo púrpura oscuro */
    color: rgb(198, 150, 212); /* Color de texto */
}

td {
    background-color: #993f3f; /* Fondo para celdas */
}

/* Estilo para botones dentro de las celdas */
td button {
    background-color: #5b3d99; /* Fondo púrpura oscuro */
    border: none; /* Sin bordes */
    color: #fff; /* Texto blanco */
    padding: 8px 16px; /* Relleno interno */
    margin-right: 5px; /* Espaciado derecho */
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer; /* Muestra un cursor de mano */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
}

td button:hover {
    background-color: #48257f; /* Fondo púrpura más oscuro al pasar el ratón */
}

/* Estilos para el contenedor del proveedor */
.provider-container {
    margin-top: 80px; /* Espacio superior para evitar la superposición con la barra de navegación */
    margin-bottom: 20px; /* Espacio inferior */
    padding: 40px; /* Relleno interno */
    background-color: #c39aca; /* Fondo */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    border-radius: 10px; /* Bordes redondeados */
    width: 400px; /* Ancho del contenedor */
    max-width: 80%; /* Ancho máximo del 80% del viewport */
    text-align: center; /* Centrar el texto dentro del contenedor */
}

/* Estilo para el formulario dentro del contenedor del proveedor */
.provider-container form {
    margin-top: 20px;
    display: flex; /* Flexbox para alinear los elementos del formulario */
    flex-direction: column; /* Dirección en columna */
}

/* Estilo para las etiquetas del formulario */
.provider-container form label {
    margin: 10px 0 5px; /* Margen superior e inferior */
    font-weight: bold; /* Texto en negrita */
}

/* Estilo para los campos de entrada del formulario */
.provider-container form input {
    margin-bottom: 10px; /* Espacio inferior entre campos */
    padding: 8px; /* Relleno interno */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    width: calc(100% - 16px); /* Ancho del campo de entrada menos el relleno */
}

/* Estilo para los botones dentro del formulario */
.provider-container form .form-button-container {
    margin-top: 40px; /* Espacio superior */
}

.provider-container form .form-button-container button {
    width: 100%;
    padding: 20px;
    background-color: #5b3d99;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
}
.provider-container form .form-button-container button:hover {
    background-color: #48257f; /* Fondo púrpura más oscuro al pasar el ratón */
}

/* Estilo para el contenedor de opciones del proveedor */
.provider-options {
    margin-top: 20px; /* Espacio superior */
    text-align: center; /* Centrar texto */
}

/* Estilo para los botones de opciones de proveedor */
.provider-options .provider-option-btn {
    background-color: #977dcb; /* Fondo púrpura oscuro */
    border: none; /* Sin bordes */
    color: #fff; /* Texto blanco */
    padding: 20px 25px; /* Relleno interno */
    border-radius: 20px; /* Bordes redondeados */
    cursor: pointer; /* Muestra un cursor de mano */
    margin-top: 25px; /* Espacio superior */
    transition: background-color 0.3s; /* Transición suave del color de fondo */
    margin-right: 20px; /* Espaciado derecho */
}

.provider-options .provider-option-btn:hover {
    background-color: #48257f; /* Fondo púrpura más oscuro al pasar el ratón */
}